<div class="container-fluid">
  <nav>
    <a [routerLink]="['/parametrization', 'dictionary']" routerLinkActive="active">dictionary</a>
    <a [routerLink]="['/parametrization', 'customer']" routerLinkActive="active">customer</a>
    <a [routerLink]="['/parametrization', 'book']" routerLinkActive="active">book</a>
  </nav>
  <p>p{{ (context.data$ | async) }}</p>
</div>

